In [13]:
import pandas as pd

In [17]:
from sklearn.preprocessing import LabelEncoder


df =pd.read_csv("sample_data.csv")
df.head(100)

      Name  ... Passed
0     Alex  ...    Yes
1      Sam  ...     No
2   Jordan  ...    Yes
3   Taylor  ...     No
4    Chris  ...    Yes
5    Jamie  ...     No
6   Morgan  ...    Yes
7    Riley  ...    Yes
8     Drew  ...     No
9    Casey  ...    Yes
10    Alex  ...    Yes
11     Sam  ...     No
12  Jordan  ...    Yes
13  Taylor  ...     No
14   Chris  ...    Yes
15   Jamie  ...     No
16  Morgan  ...    Yes
17   Riley  ...    Yes
18    Drew  ...     No
19   Casey  ...    Yes

[20 rows x 4 columns]

In [18]:
pd.options.display.max_rows=100
pd.options.display.max_columns=3
pd.options.display.max_colwidth= 200
pd.options.display.precision

6

In [11]:
df_labeled = df.copy()
le = LabelEncoder()
df_labeled['Gender_Encoded'] = le.fit_transform(df_labeled['Gender'])
df_labeled['Passed_Encoded'] = le.fit_transform(df_labeled['Passed'])

In [12]:
print('/n label encoded data')
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']])

/n label encoded data
      Name  Gender  Gender_Encoded Passed  Passed_Encoded
0     Alex    Male               1    Yes               1
1      Sam    Male               1     No               0
2   Jordan    Male               1    Yes               1
3   Taylor  Female               0     No               0
4    Chris    Male               1    Yes               1
5    Jamie  Female               0     No               0
6   Morgan  Female               0    Yes               1
7    Riley  Female               0    Yes               1
8     Drew    Male               1     No               0
9    Casey  Female               0    Yes               1
10    Alex    Male               1    Yes               1
11     Sam    Male               1     No               0
12  Jordan    Male               1    Yes               1
13  Taylor  Female               0     No               0
14   Chris    Male               1    Yes               1
15   Jamie  Female               0     No               0
16  Morgan  Female               0    Yes               1
17   Riley  Female               0    Yes               1
18    Drew    Male               1     No               0
19   Casey  Female               0    Yes               1

In [14]:
df_encoded =pd.get_dummies(df_label,columns=['City'])
print('\n one-hot Label Encoded Data')

In [16]:
print(df_encoded)

      Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Chicago  \
0     Alex    Male    Yes               1               1         False
1      Sam    Male     No               1               0         False
2   Jordan    Male    Yes               1               1          True
3   Taylor  Female     No               0               0         False
4    Chris    Male    Yes               1               1         False
5    Jamie  Female     No               0               0         False
6   Morgan  Female    Yes               0               1         False
7    Riley  Female    Yes               0               1         False
8     Drew    Male     No               1               0         False
9    Casey  Female    Yes               0               1         False
10    Alex    Male    Yes               1               1         False
11     Sam    Male     No               1               0         False
12  Jordan    Male    Yes               1               1          True
13  Taylor  Female     No               0               0         False
14   Chris    Male    Yes               1               1         False
15   Jamie  Female     No               0               0         False
16  Morgan  Female    Yes               0               1         False
17   Riley  Female    Yes               0               1         False
18    Drew    Male     No               1               0         False
19   Casey  Female    Yes               0               1         False

    City_Dallas  City_Houston  City_Los Angeles  City_New York  \
0         False         False             False           True
1         False         False              True          False
2         False         False             False          False
3         False          True             False          False
4         False         False             False          False
5         False         False             False          False
6         False         False             False          False
7         False         False             False          False
8          True         False             False          False
9         False         False             False          False
10        False         False             False           True
11        False         False              True          False
12        False         False             False          False
13        False          True             False          False
14        False         False             False          False
15        False         False             False          False
16        False         False             False          False
17        False         False             False          False
18         True         False             False          False
19        False         False             False          False

    City_Philadelphia  City_Phoenix  City_San Antonio  City_San Diego  \
0               False         False             False           False
1               False         False             False           False
2               False         False             False           False
3               False         False             False           False
4               False          True             False           False
5                True         False             False           False
6               False         False              True           False
7               False         False             False            True
8               False         False             False           False
9               False         False             False           False
10              False         False             False           False
11              False         False             False           False
12              False         False             False           False
13              False         False             False           False
14              False          True             False           False
15               True         False             False           False
16              False         False              True           False
17              False         False             False            True
18              False         False             False           False
19              False         False             False           False

    City_San Jose
0           False
1           False
2           False
3           False
4           False
5           False
6           False
7           False
8           False
9            True
10          False
11          False
12          False
13          False
14          False
15          False
16          False
17          False
18          False
19           True

In [32]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(df)

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(df)

In [25]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

data= {
    'StudyHours':[1,2,3,4,5],
'TestScore':[40,50,60,70,80]}

In [26]:
df=pd.DataFrame(data)

In [27]:
standard_scaler=StandardScaler()
standard_scaled=standard_scaler.fit_transform(df)

In [28]:
print("standard scaled output")
print(pd.DataFrame(standard_scaled,columns=['StudyHours','TestScore']))

standard scaled output
   StudyHours  TestScore
0   -1.414214  -1.414214
1   -0.707107  -0.707107
2    0.000000   0.000000
3    0.707107   0.707107
4    1.414214   1.414214

In [35]:
minmax_scaler= MinMaxScaler()
minmax_scaled= minmax_scaler.fit_transform(df)

In [36]:
print(pd.DataFrame(minmax_scaled, columns=["StudyHours","TestScore"]))

   StudyHours  TestScore
0        0.00       0.00
1        0.25       0.25
2        0.50       0.50
3        0.75       0.75
4        1.00       1.00

In [39]:
X=df[['StudyHours']]
y=df[['TestScore']]

In [40]:
X_train, X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,random_state=42)
print("training data",X_train)
print("Test data",X_test)

training data    StudyHours
4           5
2           3
0           1
3           4
Test data    StudyHours
1           2

In [41]:
print("training data",y_train)
print("Test data",y_test)

training data    TestScore
4         80
2         60
0         40
3         70
Test data    TestScore
1         50