In [7]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df =pd.read_csv("sample_data.csv")
df.head()

     Name  Gender         City Passed
0    Alex    Male     New York    Yes
1     Sam    Male  Los Angeles     No
2  Jordan    Male      Chicago    Yes
3  Taylor  Female      Houston     No
4   Chris    Male      Phoenix    Yes

In [11]:
df_label = df.copy()
le = LabelEncoder()
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])

In [12]:
print('/n label encoded data')
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']])

/n label encoded data
      Name  Gender  Gender_Encoded Passed  Passed_Encoded
0     Alex    Male               1    Yes               1
1      Sam    Male               1     No               0
2   Jordan    Male               1    Yes               1
3   Taylor  Female               0     No               0
4    Chris    Male               1    Yes               1
5    Jamie  Female               0     No               0
6   Morgan  Female               0    Yes               1
7    Riley  Female               0    Yes               1
8     Drew    Male               1     No               0
9    Casey  Female               0    Yes               1
10    Alex    Male               1    Yes               1
11     Sam    Male               1     No               0
12  Jordan    Male               1    Yes               1
13  Taylor  Female               0     No               0
14   Chris    Male               1    Yes               1
15   Jamie  Female               0     No               0
16  Morgan  Female               0    Yes               1
17   Riley  Female               0    Yes               1
18    Drew    Male               1     No               0
19   Casey  Female               0    Yes               1

In [14]:
df_encoded =pd.get_dummies(df_label,columns=['City'])
print('\n one-hot Label Encoded Data')

In [16]:
print(df_encoded)

      Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Chicago  \
0     Alex    Male    Yes               1               1         False
1      Sam    Male     No               1               0         False
2   Jordan    Male    Yes               1               1          True
3   Taylor  Female     No               0               0         False
4    Chris    Male    Yes               1               1         False
5    Jamie  Female     No               0               0         False
6   Morgan  Female    Yes               0               1         False
7    Riley  Female    Yes               0               1         False
8     Drew    Male     No               1               0         False
9    Casey  Female    Yes               0               1         False
10    Alex    Male    Yes               1               1         False
11     Sam    Male     No               1               0         False
12  Jordan    Male    Yes               1               1          True
13  Taylor  Female     No               0               0         False
14   Chris    Male    Yes               1               1         False
15   Jamie  Female     No               0               0         False
16  Morgan  Female    Yes               0               1         False
17   Riley  Female    Yes               0               1         False
18    Drew    Male     No               1               0         False
19   Casey  Female    Yes               0               1         False

    City_Dallas  City_Houston  City_Los Angeles  City_New York  \
0         False         False             False           True
1         False         False              True          False
2         False         False             False          False
3         False          True             False          False
4         False         False             False          False
5         False         False             False          False
6         False         False             False          False
7         False         False             False          False
8          True         False             False          False
9         False         False             False          False
10        False         False             False           True
11        False         False              True          False
12        False         False             False          False
13        False          True             False          False
14        False         False             False          False
15        False         False             False          False
16        False         False             False          False
17        False         False             False          False
18         True         False             False          False
19        False         False             False          False

    City_Philadelphia  City_Phoenix  City_San Antonio  City_San Diego  \
0               False         False             False           False
1               False         False             False           False
2               False         False             False           False
3               False         False             False           False
4               False          True             False           False
5                True         False             False           False
6               False         False              True           False
7               False         False             False            True
8               False         False             False           False
9               False         False             False           False
10              False         False             False           False
11              False         False             False           False
12              False         False             False           False
13              False         False             False           False
14              False          True             False           False
15               True         False             False           False
16              False         False              True           False
17              False         False             False            True
18              False         False             False           False
19              False         False             False           False

    City_San Jose
0           False
1           False
2           False
3           False
4           False
5           False
6           False
7           False
8           False
9            True
10          False
11          False
12          False
13          False
14          False
15          False
16          False
17          False
18          False
19           True

In [32]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(df)

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(df)

In [25]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

data= {
    'StudyHours':[1,2,3,4,5],
'TestScore':[40,50,60,70,80]}

In [26]:
df=pd.DataFrame(data)

In [27]:
standard_scaler=StandardScaler()
standard_scaled=standard_scaler.fit_transform(df)

In [28]:
print("standard scaled output")
print(pd.DataFrame(standard_scaled,columns=['StudyHours','TestScore']))

standard scaled output
   StudyHours  TestScore
0   -1.414214  -1.414214
1   -0.707107  -0.707107
2    0.000000   0.000000
3    0.707107   0.707107
4    1.414214   1.414214

In [35]:
minmax_scaler= MinMaxScaler()
minmax_scaled= minmax_scaler.fit_transform(df)

In [36]:
print(pd.DataFrame(minmax_scaled, columns=["StudyHours","TestScore"]))

   StudyHours  TestScore
0        0.00       0.00
1        0.25       0.25
2        0.50       0.50
3        0.75       0.75
4        1.00       1.00

In [39]:
X=df[['StudyHours']]
y=df[['TestScore']]

In [40]:
X_train, X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,random_state=42)
print("training data",X_train)
print("Test data",X_test)

training data    StudyHours
4           5
2           3
0           1
3           4
Test data    StudyHours
1           2

In [41]:
print("training data",y_train)
print("Test data",y_test)

training data    TestScore
4         80
2         60
0         40
3         70
Test data    TestScore
1         50

In [48]:
from sklearn.neighbors import KNeighborsClassifier
X=[
    [180,7],
    [200,7.5],
    [250,8],
    [300,8.5],
    [330,9],
    [360,9.5]
]
y=[0,0,0,1,1,1]
model=KNeighborsClassifier(n_neighbors =3)
model.fit(X,y)

weight = float(input("Enter the weight in grams"))
size= float (input("enter the size in cm"))
prediction = model.predict([[weight,size]])[0]

if prediction ==0:
    print("This is likely an apple")
else: 
    print("this is likely an orange")

Enter the weight in grams 360
enter the size in cm 9.1

this is likely an orange

In [50]:
from sklearn.tree import DecisionTreeClassifier

X=[
    [7,2],
    [8,3],
    [9,8],
    [10,9]
]
y=[0,0,1,1]
model= DecisionTreeClassifier()
model.fit(X,y)

size = float(input("enter the fruit size in cm"))
shape= float(input("enter the fruit shape 1-10"))

result= model.predict([[size,shape]])[0]

if result==0:
    print("this is likely an apple")
else :
    print("likely an orange")

enter the fruit size in cm 8.5
enter the fruit shape 1-10 5

this is likely an apple

In [51]:
from sklearn.metrics import  accuracy_score ,precision_score, recall_score, f1_score

y_true= [1,0,1,1,0,1,0]

y_pred=[1,0,1,0,0,1,1]

print("Accuracy",accuracy_score(y_true, y_pred))
print("Precision",precision_score(y_true, y_pred))
print("Recall",recall_score(y_true, y_pred))
print("F1 score",f1_score(y_true, y_pred))

Accuracy 0.7142857142857143
Precision 0.75
Recall 0.75
F1 score 0.75

In [54]:
from sklearn.metrics import confusion_matrix

y_true = [1, 0, 1, 1, 0, 1, 0, 0, 1, 0]
y_pred = [1, 0, 1, 0, 0, 1, 1, 0, 1, 0]

cm = confusion_matrix(y_true, y_pred)
print("Confusion Matrix:\n", cm)

Confusion Matrix:
 [[4 1]
 [1 4]]

### MAE - mean absolute error 
1. mistake error
2. remove minus
3. add 
4. divide

### MSE - mean squared error
1. mistake error
2. (remove minus)square
3. add 
4. divide

### RMSE - root mean squared error

In [56]:
from sklearn.metrics import mean_absolute_error , mean_squared_error
import numpy as np
real_scores= [90,60,80,100]
predicted_scores =[85,70,70,95]

mae= mean_absolute_error(real_scores , predicted_scores)
mse= mean_squared_error(real_scores , predicted_scores)
rmse = np.sqrt(mse)
print(mae)
print(mse)
print(rmse)

7.5
62.5
7.905694150420948